.bebas{
    background: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-color: white;

}
.isibox{
    background-image: linear-gradient(to right,#330019,red);

    min-width: 500px;
    max-width: 1000px;
    padding: 100px;
    text-align: center;
    box-shadow: 0 0 50px white;
}

#judul{
    color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.search-box{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background:whitesmoke;
    margin-top: 30px;
    padding: 10px;
    
}
.search-box> .search-txt{
    width: 240px;
    padding: 0 6px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.search-btn{
    color: whitesmoke;
    text-align: center;
    font-size: 10px;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background: #1653aa;
    display: inline;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

#hiastable{
    margin-top: 110px;
    font-family: 'Patua One', cursive;
    color:#9999FF;
    size: 10px;
    
}